@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
	background: #ddd;
	color: #5a5350;
	font-weight: 300;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #ed8151;
	outline: none;
}

a:hover, a:focus {
	color: #e86a32;
	outline: none;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.codrops-header,
.codrops-top {
	font-family: 'Lato', Arial, sans-serif;
}

.codrops-header {
	margin: 0 auto 3em;
	padding: 3em;
	text-align: center;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.625em;
	line-height: 1.3;
}

.codrops-header span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	color: #aca89a;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-size: 0.69em;
	line-height: 2.2;
	font-weight: 700;
	background: rgba(255,255,255,0.3);
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 0.1em;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.4);
	color: #333;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

.main {
	max-width: 69em;
	margin: 0 auto;
}

.column {
	width:30%;
/*	width: 50%;*/
	margin: 0 auto;
	padding: 0 2em;
	min-height: 300px;
	position: relative;
	text-align: right;
}

.column:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
	text-align: left;
}

.column p {
	font-weight: 300;
	font-size: 2em;
	padding: 0 0 0.5em;
	margin: 0;
	line-height: 1.5;
}

.codrops-demos a,
button {
	border: none;
	padding: 0.6em 1.2em;
	background: #a9a9a9;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 10px;
	border-radius: 2px;
	font-weight: 400;
	outline: none;
}

.codrops-demos a:hover,
.codrops-demos a:active,
.codrops-demos a.current-demo {
	background: #777;
}

button {
	font-size: 75%;
	background: #ed8151;
}

button:hover,
button:active {
	background: #e86a32;
}

.related {
	text-align: center;
	font-size: 1.5em;
	margin-top: 3em;
	clear: both;
	padding: 3em 0;
}

.related a {
	font-weight: 700;
	font-size: 0.9em;
}

@media screen and (max-width: 46.0625em) {

	.codrops-header {
		margin-bottom: 0;
		padding-bottom: 1em;
	}

	.column {
		width: 100%;
		min-width: auto;
		min-height: 0;
		padding: 2em; 
		text-align: center;
	}

	.column p {
		font-size: 1.5em;
	}

	.column:nth-child(2) {
		text-align: center;
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	}
}

@media screen and (max-width: 25em) {

	.codrops-header {
		font-size: 80%;
	}

	.codrops-top {
		font-size: 120%;
	}

	.codrops-icon span {
		display: none;
	}

}



/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);*/
* {
    box-sizing: border-box;
    /*font-family: "Open Sans", sans-serif;*/
}

p {
    color: #999;
    font-size: 12px;
    margin-bottom: 40px;
}

.createBtn {
    width:170px;
    height:40px;
    display: inline-block;
    background-color: #de584d;
    border: 2px solid #d65147;
    border-radius: 5px;
    box-shadow: 0px 2px 0px #ceced1;
    background-image: url("http://i.imgur.com/gAtesxD.png");
    background-repeat: no-repeat;
    cursor: pointer;
}
.createBtn i {
    font-size: 30px;
    display: none;
    color: #ffffff;
    margin-right: 30px;
    vertical-align: middle;
}
.createBtn .button-text, .createBtn input[type="text"], .createBtn .hidden {
    font-size: 18px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.createBtn .button-text {
    margin-left : 30px;
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 2px #cc5147;
    display: inline-block;
    z-index: 1;
    vertical-align: middle;
    margin-top:1px;
}
.createBtn input[type="text"] {
    margin-top:3px;
    height: 28px;
    width: 120px;
    display: none;
    padding: 0 8px 0 20px;
    z-index: 2;
    outline: none;
    margin-left: 29px;
    background-color: ghostwhite;
}
.createBtn .hidden {
    visibility: hidden !important;
    opacity: 0 !important;
}


.bb{
    float: left;
    margin-left:265px;
    position: relative;
    width: 95px;
    height : 30px;
    text-align: center;
    overflow: hidden;
    border-radius: 3px;
    font-size : 18px;
    background: ghostwhite;
    color: #555;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26),
    0 2px 10px 0 rgba(0, 0, 0, 0.16);

}

.fancy-btn {



    float: left;
    margin-left:265px;
    position: relative;
    width: 95px;
    height : 30px;
    text-align: center;
    overflow: hidden;
    border-radius: 3px;
    font-size : 18px;
    background: ghostwhite;
    color: #555;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26),
    0 2px 10px 0 rgba(0, 0, 0, 0.16);


    /*-webkit-appearance: none;*/
    /*cursor: pointer;*/
    /*outline: none;*/
    /*border: none;*/
    /*position: relative;*/
    /*top: 50%;*/
    /*display: block;*/
    /*min-width: 10%;*/
    /*line-height: 55px;*/
    /*font-size: 14px;*/
    /*text-transform: uppercase;*/
    /*margin: 0 auto;*/
    /*padding: 0 10px;*/
    /*background-color: #F2594B;*/
    /*color: #FFF;*/
    /*border-radius: 3px;*/
    /*-moz-transform: translateY(-50%);*/
    /*-ms-transform: translateY(-50%);*/
    /*-webkit-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
}

.fancy-btn2 {
  cursor : pointer;
    width: 90px;
    height : 30px;
    text-align: center;
    overflow: hidden;
    border-radius: 3px;
    margin-left: 370px;
    font-size : 18px;
    background: ghostwhite;
    color: #555;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26),
    0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.fancy-btn:hover {
    background-color: #f46f63;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 40;
    -moz-transition: opacity 0.25s ease 0s, visibility 0.35s linear;
    -o-transition: opacity 0.25s ease 0s, visibility 0.35s linear;
    -webkit-transition: opacity 0.25s ease, visibility 0.35s linear;
    -webkit-transition-delay: 0s, 0s;
    transition: opacity 0.25s ease 0s, visibility 0.35s linear;
}
.modal-overlay.state-show {
    opacity: .7;
    visibility: visible;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -moz-transition-duration: 0.2s, 0s;
    -o-transition-duration: 0.2s, 0s;
    -webkit-transition-duration: 0.2s, 0s;
    transition-duration: 0.2s, 0s;
}

.modal-frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 50;
    /*     display: table; */
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -moz-box-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    width: 100%;
    text-align: center;
    visibility: hidden;
}
.modal-frame.state-appear {
    visibility: visible;
    background :rgba(10,7,3,0.75);
}
.modal-frame.state-appear .modal-inset {
    -moz-animation: modalComeIn 0.25s ease;
    -webkit-animation: modalComeIn 0.25s ease;
    animation: modalComeIn 0.25s ease;
    visibility: visible;
    /* to keep @ final state */
}
.modal-frame.state-appear .modal-body {
    opacity: 1;
    -moz-transform: translateY(0) scale(1, 1);
    -ms-transform: translateY(0) scale(1, 1);
    -webkit-transform: translateY(0) scale(1, 1);
    transform: translateY(0) scale(1, 1);
}
.modal-frame.state-leave {
    visibility: visible;
}
.modal-frame.state-leave .modal-inset {
    -moz-animation: modalHeadOut 0.35s ease 0.1s;
    -webkit-animation: modalHeadOut 0.35s ease 0.1s;
    animation: modalHeadOut 0.35s ease 0.1s;
    visibility: visible;
}
.modal-frame.state-leave .modal-body {
    opacity: 0;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -moz-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -moz-transform: translateY(25px);
    -ms-transform: translateY(25px);
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
}

@-moz-document url-prefix() {
    .modal-frame {
        height: calc(100% - 55px);
    }
}
.modal {
    display: block;
    vertical-align: middle;
    text-align: center;
    margin-left: 270px;
}

.modal-inset {
    position: relative;
    padding: 60px;
    background-color: white;
    width:700px;
    hegith:100px;
    margin: auto;
    /*min-width: 320px;*/
    /*min-height: 126px;*/
    visibility: hidden;
    -moz-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.modal-inset .close {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    opacity: .4;
}
.modal-inset .close:hover {
    opacity: 1;
}

.modal-body {
    margin: auto;
    opacity: 0;
    -moz-transform: translateY(0) scale(0.8, 0.8);
    -ms-transform: translateY(0) scale(0.8, 0.8);
    -webkit-transform: translateY(0) scale(0.8, 0.8);
    transform: translateY(0) scale(0.8, 0.8);
    -moz-transition-property: opacity, -moz-transform;
    -o-transition-property: opacity, -o-transform;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.modal-body h3 {
    font-weight: 700;
    padding-bottom: 22px;
    display: block;
    color: #F2594B;
    text-align: center;
}
.modal-body p {
    padding-bottom: 20px;
}
.modal-body .ps {
    font-size: 12px;
    opacity: .3;
}

@-webkit-keyframes modalComeIn {
    0% {
        visibility: hidden;
        opacity: 0;
        -moz-transform: scale(0.8, 0.8);
        -ms-transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
    65.5% {
        -moz-transform: scale(1.03, 1.03);
        -ms-transform: scale(1.03, 1.03);
        -webkit-transform: scale(1.03, 1.03);
        transform: scale(1.03, 1.03);
    }
    100% {
        visibility: visible;
        opacity: 1;
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@-moz-keyframes modalComeIn {
    0% {
        visibility: hidden;
        opacity: 0;
        -moz-transform: scale(0.8, 0.8);
        -ms-transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
    65.5% {
        -moz-transform: scale(1.03, 1.03);
        -ms-transform: scale(1.03, 1.03);
        -webkit-transform: scale(1.03, 1.03);
        transform: scale(1.03, 1.03);
    }
    100% {
        visibility: visible;
        opacity: 1;
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@keyframes modalComeIn {
    0% {
        visibility: hidden;
        opacity: 0;
        -moz-transform: scale(0.8, 0.8);
        -ms-transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
    65.5% {
        -moz-transform: scale(1.03, 1.03);
        -ms-transform: scale(1.03, 1.03);
        -webkit-transform: scale(1.03, 1.03);
        transform: scale(1.03, 1.03);
    }
    100% {
        visibility: visible;
        opacity: 1;
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@-webkit-keyframes modalHeadOut {
    0% {
        visibility: visible;
        opacity: 1;
        -moz-transform: translateY(0) scale(1, 1);
        -ms-transform: translateY(0) scale(1, 1);
        -webkit-transform: translateY(0) scale(1, 1);
        transform: translateY(0) scale(1, 1);
    }
    100% {
        visibility: hidden;
        opacity: 0;
        -moz-transform: translateY(35px) scale(0.97, 0.97);
        -ms-transform: translateY(35px) scale(0.97, 0.97);
        -webkit-transform: translateY(35px) scale(0.97, 0.97);
        transform: translateY(35px) scale(0.97, 0.97);
    }
}
@-moz-keyframes modalHeadOut {
    0% {
        visibility: visible;
        opacity: 1;
        -moz-transform: translateY(0) scale(1, 1);
        -ms-transform: translateY(0) scale(1, 1);
        -webkit-transform: translateY(0) scale(1, 1);
        transform: translateY(0) scale(1, 1);
    }
    100% {
        visibility: hidden;
        opacity: 0;
        -moz-transform: translateY(35px) scale(0.97, 0.97);
        -ms-transform: translateY(35px) scale(0.97, 0.97);
        -webkit-transform: translateY(35px) scale(0.97, 0.97);
        transform: translateY(35px) scale(0.97, 0.97);
    }
}
@keyframes modalHeadOut {
    0% {
        visibility: visible;
        opacity: 1;
        -moz-transform: translateY(0) scale(1, 1);
        -ms-transform: translateY(0) scale(1, 1);
        -webkit-transform: translateY(0) scale(1, 1);
        transform: translateY(0) scale(1, 1);
    }
    100% {
        visibility: hidden;
        opacity: 0;
        -moz-transform: translateY(35px) scale(0.97, 0.97);
        -ms-transform: translateY(35px) scale(0.97, 0.97);
        -webkit-transform: translateY(35px) scale(0.97, 0.97);
        transform: translateY(35px) scale(0.97, 0.97);
    }
}


.modal-left{
    float: left;
}

.modal-right{
    float:right;
    /*overflow: scroll;*/
}


.userName2 {
    width: 80px;
    height: 20px;
    text-align: center;
    float: left;
    font-size:18px;
}

.userJob2 {

}
.userPhone2 {

}
.userInfo2 {
    margin-left: 120px;

    text-align: right;
    margin-right: 10px;
}

.right-bottom{
  position : absolute;
    height:326px;
    overflow-y: hidden;
    /* display: none; */
}

.right-bottom1{
    position : absolute;
    height:326px;
    overflow-y: hidden;
    /* display: none; */
}

.right-bottom2{
    position : absolute;
    height:326px;
    overflow-y: hidden;
    /* display: none; */
}

.right-top {
    height : 30px;
}

.right-top-plusBtn {
  cursor : pointer;
    float: left;
    width:70px;
    height:29px;
/*     background-color:  rgba(1,139,211,0.5);
    border : 1px solid rgba(1,139,211,0.5); */
    margin-left: 200px;
}

.right-top-minusBtn{
  cursor : pointer;
    margin-left: 20px;
    float: left;
    width:70px;
    height:29px;
/*     background-color: rgba(204,81,71,0.7);
    border : 1px solid  rgba(204,81,71,0.7); */
}


.modalLi {
  height : 40px;
}





.search {

}

svg {
/*  position: absolute;*/
position: relative;
  transform: translateX(-246px);
  width: 300px;
  height: auto;
  stroke-width: 8px;
/*  stroke: #b3c33a;*/
  stroke: black;
  stroke-width: 1px;
  stroke-dashoffset: 0;
  stroke-dasharray: 64.6 206.305;
  transition: all 0.5s ease-in-out;
  stroke-linejoin: round;
  stroke-linecap: round;
}



.search-label {
  cursor : pointer;
  position: relative;
/*  position: absolute;*/
  display: block;
  width: 108px;
  height: 108px;
  top: -100px;
/*  left: 50%;*/
/*  margin-left: -54px;*/
  z-index: 100;
  transition: 0.5s ease-in-out;
}

.isActive .search-label {
  transform: translateX(246px);
}
.isActive svg {
  stroke-dashoffset: -65;
  stroke-dasharray: 141.305 65;
  transform: translateX(0);
}
.isActive.full svg {
  stroke-dashoffset: -65;
  stroke-dasharray: 141.305 65;
  transform: translateX(0);
}

.full .search-label {
  transform: translateX(246px);
}
.full svg {
  stroke-dashoffset: 0;
  stroke-dasharray: 64.6 206.305;
  transform: translateX(0);
}






*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/** {
    margin: 0;
    padding: 0;
    border: 0 none;
    position: relative;
}
*/
.profile {
  box-shadow:14px 14px 20px grey;
    text-rendering: optimizeLegibility;
}

.profile {
    background-color: ghostwhite;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
}

.title {
    display: block;
    margin: 3% auto;
    width: 90%;
    background-color: ghostwhite;
    height: auto;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    border: solid dimgrey 2px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

@media all and (min-width: 50em) {
    .title {
        margin: 0 auto;
        margin-top: 30px;
        width: 80%;
        height:280px;
    }
}

.sectionS {
    display: block;
    margin: 3% auto;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-left: 16%;
    font-weight: 400;
    line-height: 1.5;
    text-shadow: 1px 1px 0px white;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

h1 {
    padding: 0px;
    font-size: 2.5em;
    color: RGBA(51, 61, 61, 1);
}

@media all and (min-width: 50em) {
    h1 {
        padding: 15px;
        font-size: 4.5em;
    }
}


@media all and (min-width: 50em) {
    h2 {
        color: black;
        margin-top: 42px;
        margin-left: 83px;
        font-size: 3.5em;
    }
}

h3 {
    padding: 15px 0;
    font-size: 1.3em;
    color: RGBA(194, 215, 232, 1);
}

@media all and (min-width: 50em) {
    h3 {
        padding: 0 35%;
        font-size: 1.5em;
    }
}

p {
    /*padding: 3% 9%;*/
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 100;
    line-height: 1.2;
    text-shadow: 1px 1px 0px white;
    color: RGBA(51, 61, 61, 1);
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

@media all and (min-width: 50em) {
    p {
        margin-left: 27px;
/*        padding: 3% 30%;
        font-size: 2em;*/
    }
}

footer {
    margin-top: 30px;
    text-align: center;
    margine: 0;
    padding: 0;
    display: block;
}

footer p {
    padding: 3%;
    display: inline;
}

footer p a {
    text-decoration: none;
    color: grey;
    box-shadow: 0 2px 0px silver;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

footer p a:hover {
    color: RGBA(194, 215, 232, 1);
    box-shadow: 0 2px 0px RGBA(194, 215, 232, 1);
}

.icons {
    text-decoration: none;
}

.icons li {
    list-style: none;
    text-decoration: none;
}

.icons > li {
    float: left;
}

.icons {
    /*margin-left: 2%;*/
}

.icon {
    margin-top: 20px;
    /*margin-left: 8%;*/
    /*margin-right: 2.5%;*/
}

.fa-github {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 35px;
    font-weight: normal;
    line-height: 1.5em;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    opacity: 0.75;
    background-color: #FFDB4D;
}

.fa-facebook {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 35px;
    font-weight: normal;
    line-height: 1.5em;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    opacity: 0.75;
    background-color: #4060A5;
}

.fa-twitter {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 35px;
    font-weight: normal;
    line-height: 1.5em;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    opacity: 0.75;
    background-color: #00ABE3;
}

.fa-dribbble {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 35px;
    font-weight: normal;
    line-height: 1.5em;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    opacity: 0.75;
    background-color: #ea4c89;
}

.temp {
    background-color: black;
    width: 100%;
    height: 145px;
    margin-top: 27px;
}

.profile-pic-face {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2.5px solid #888888;
    margin-top: 2%;
    margin-left: 70%;
}



.rectangle-list {

counter-reset: li;
list-style: none;
font: 15px 'trebuchet MS', 'lucida sans';
margin-bottom: 4em;
text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.rectangle-list {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}

.rectangle-list li {
display: list-item;
text-align: -webkit-match-parent;
}

.rectangle-list a {
box-shadow : 3px 2px 4px darkgrey;
/* background-color : rgba(221,213,220,0.3); */
background-color : #f8f8f8;
width: 388px;
height: 40px;
position: relative;
display: block;
padding: .4em .4em .4em .8em;
margin: .5em 0 .5em 2.5em;
color: #444;
text-decoration: none;
-webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-ms-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
transition: all .3s ease-out;
}

.rectangle-list a:before {
  box-shadow : 2px 3px 8px silver;
content: counter(li);
counter-increment: li;
position: absolute;
left: -2.5em;
top: 50%;
margin-top: -1em;
/* background: #fa8072; */
background-color : #f8f8f8;
height: 2em;
width: 2em;
line-height: 2em;
text-align: center;
font-weight: bold;
}

.rectangle-list a:after {
position: absolute;
content: '';
border: .5em solid transparent;
left: -1em;
top: 50%;
margin-top: -.5em;
-webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-ms-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
transition: all .3s ease-out;
}

.rectangle-list a:hover {
background: #eee;
}

.rectangle-list a:hover:after {
left: -.5em;
border-left-color: #fa8072;
}

.icon {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-top: 50px;
}

.bookmarklet {
    margin-top: 30px;
    margin-right: 70px;
    margin-bottom: 40px;
/*    width: 100%;*/
/*    float: right;*/
text-align: right;
font-size: 60px;
}

.userName {
    width: 80px;
    height: 20px;
    text-align: center;
    float: left;
    font-size:20px;
}

.userJob {
    margin-bottom: 2px;
}
.userPhone {
    margin-bottom: 2px;
}
.userInfo {
    margin-left: 120px;
    margin-top: 2px;
    text-align: right;
    margin-right: 10px;
}

.test{
    max-width: 400px;
    margin-left: 500px;
    overflow:hidden;
    /*border : 1px solid black;*/
    height: 460px;
}

.searchBody{
    margin-left: 63%;
}


.profile {
    position: absolute;
    width: 400px;
/*    border : 1px solid black;*/
    height: 536px;
}



.btnPlace {
    position : relative;
    text-align: right;
    margin-right: 50px;
    width:50%;
    margin-left:50%;
    margin-bottom: 5px;
}

.groupSee {
    float: left;
    margin-left:265px;
    position: relative;
    width: 95px;
    height : 30px;
    text-align: center;
    overflow: hidden;
    border-radius: 3px;
    font-size : 18px;
    background: ghostwhite;
    color: #555;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26),
    0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
.ripple {
    width: 90px;
    height : 30px;
    text-align: center;
    overflow: hidden;
    border-radius: 3px;
    margin-left: 370px;
    font-size : 18px;
    background: ghostwhite;
    color: #555;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26),
    0 2px 10px 0 rgba(0, 0, 0, 0.16);
}









@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://alico.me/lib/entypo/entypo.css);


.hidden { display:none }
.left   { float:left; margin-left:8px }


/*
 * @ form mask */


.fmask         { position:relative }
.fmask:after   { clear:both; display:block; content:" " }


/*
 * @ form mask : select */

.fmask.select         { width:160px; transition:190ms; font-size:0.9em; }
.fmask.select .h      { transition:190ms; background:white; padding:10px 8px;color:#666  }
.fmask.select .b      { display:none;position:absolute;width:100%;z-index:1; background:#fff; border-top:1px solid #ededed}
.fmask.select .s      { overflow:auto; height:100px }

.fmask.select li      { padding:8px 8px; cursor:default; line-height:16px}


/*
 @ form mask: select width turleri  */

.fmask.select[data-width='medium']    { width:220px }
.fmask.select[data-width='large']     { width:280px }
.fmask.select[data-width='small']     { width:120px }
.fmask.select[data-width='likit']     { width:100% }

/*
 @ form mask: select scroll */

.fmask.select[data-scroll='medium'] .s { height:120px }
.fmask.select[data-scroll='large'] .s  { height:70px }
.fmask.select[data-scroll='small'] .s  { height:90px }
.fmask.select[data-scroll='false'] .s   { overflow:visible; height:auto }



.fmask.select li[data-selected='on']  { color:#D6D7D8}
.fmask.select li:hover                { background:#03bcff; color:white }

.fmask.select .h i[data-icon='arrow']:before { content:"\25be" }
.fmask.select .h i[data-icon='arrow']        { transition:190ms; color:#49b2e3; position:absolute; right:9px; top:5px; font-size:1.9em }
.fmask.select .h:hover i[data-icon='arrow']  { color:#000  }

.fmask.select.on .h i[data-icon='arrow']     { transform:rotate(180deg); top:4px; color:#888 }



.fmask {  margin-bottom:10px}




.titleThis {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  color: #fff;
  text-align: center;
  margin-top: -20px;
  font-size: 46px;
  white-space: nowrap;
  line-height: 100vh;
  letter-spacing: 11px;
  text-transform: uppercase;
  text-shadow:
    1px 1px 0 rgba(0,0,0,0.08),
    2px 2px 0 rgba(0,0,0,0.08),
    3px 3px 0 rgba(0,0,0,0.08),
    4px 4px 0 rgba(0,0,0,0.08),
    5px 5px 0 rgba(0,0,0,0.08),
    6px 6px 0 rgba(0,0,0,0.08),
    7px 7px 0 rgba(0,0,0,0.08),
    8px 8px 0 rgba(0,0,0,0.08),
    9px 9px 0 rgba(0,0,0,0.08),
    10px 10px 0 rgba(0,0,0,0.08),
    11px 11px 0 rgba(0,0,0,0.08),
    12px 12px 0 rgba(0,0,0,0.087),
    13px 13px 0 rgba(0,0,0,0.07),
    14px 14px 0 rgba(0,0,0,0.07),
    15px 15px 0 rgba(0,0,0,0.06),
    16px 16px 0 rgba(0,0,0,0.06),
    17px 17px 0 rgba(0,0,0,0.06),
    18px 18px 0 rgba(0,0,0,0.06),
    19px 19px 0 rgba(0,0,0,0.05),
    20px 20px 0 rgba(0,0,0,0.05),
    21px 21px 0 rgba(0,0,0,0.05),
    22px 22px 0 rgba(0,0,0,0.05),
    22px 22px 0 rgba(0,0,0,0.04),
    23px 23px 0 rgba(0,0,0,0.04),
    24px 24px 0 rgba(0,0,0,0.04),
    25px 25px 0 rgba(0,0,0,0.03),
    26px 26px 0 rgba(0,0,0,0.03),
    27px 27px 0 rgba(0,0,0,0.03),
    28px 28px 0 rgba(0,0,0,0.02),
    29px 29px 0 rgba(0,0,0,0.02),
    30px 30px 0 rgba(0,0,0,0.02),
    31px 31px 0 rgba(0,0,0,0.02),
    32px 32px 0 rgba(0,0,0,0.02),
    33px 33px 0 rgba(0,0,0,0.02),
    34px 34px 0 rgba(0,0,0,0.02),
    35px 35px 0 rgba(0,0,0,0.01),
    36px 36px 0 rgba(0,0,0,0.01),
    37px 37px 0 rgba(0,0,0,0.01),
    38px 38px 0 rgba(0,0,0,0.01),
    39px 39px 0 rgba(0,0,0,0.01);
  transition: text-shadow 1s cubic-bezier(0.76, -0.44, 0, 1.38);
}


.titleThis:hover {
text-shadow:
    1px  -1px 0 rgba(0,0,0,0.10),
    2px  -2px 0 rgba(0,0,0,0.10),
    3px  -3px 0 rgba(0,0,0,0.10),
    4px  -4px 0 rgba(0,0,0,0.10),
    5px  -5px 0 rgba(0,0,0,0.10),
    6px  -6px 0 rgba(0,0,0,0.10),
    7px  -7px 0 rgba(0,0,0,0.10),
    8px  -8px 0 rgba(0,0,0,0.10),
    9px  -9px 0 rgba(0,0,0,0.10),
    10px -10px 0 rgba(0,0,0,0.10),
    11px -11px 0 rgba(0,0,0,0.10),
    12px -12px 0 rgba(0,0,0,0.07),
    13px -13px 0 rgba(0,0,0,0.07),
    14px -14px 0 rgba(0,0,0,0.07),
    15px -15px 0 rgba(0,0,0,0.06),
    16px -16px 0 rgba(0,0,0,0.06),
    17px -17px 0 rgba(0,0,0,0.06),
    18px -18px 0 rgba(0,0,0,0.06),
    19px -19px 0 rgba(0,0,0,0.05),
    20px -20px 0 rgba(0,0,0,0.05),
    21px -21px 0 rgba(0,0,0,0.05),
    22px -22px 0 rgba(0,0,0,0.05),
    22px -22px 0 rgba(0,0,0,0.04),
    23px -23px 0 rgba(0,0,0,0.04),
    24px -24px 0 rgba(0,0,0,0.04),
    25px -25px 0 rgba(0,0,0,0.03),
    26px -26px 0 rgba(0,0,0,0.03),
    27px -27px 0 rgba(0,0,0,0.03),
    28px -28px 0 rgba(0,0,0,0.02),
    29px -29px 0 rgba(0,0,0,0.02),
    30px -30px 0 rgba(0,0,0,0.02),
    31px -31px 0 rgba(0,0,0,0.02),
    32px -32px 0 rgba(0,0,0,0.02),
    33px -33px 0 rgba(0,0,0,0.02),
    34px -34px 0 rgba(0,0,0,0.02),
    35px -35px 0 rgba(0,0,0,0.01),
    36px -36px 0 rgba(0,0,0,0.01),
    37px -37px 0 rgba(0,0,0,0.01),
    38px -38px 0 rgba(0,0,0,0.01),
    39px -39px 0 rgba(0,0,0,0.01);
}

.input-search {
  display: inline;
  position: relative;
  width: 300px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search input[type="submit"]{
    display: inline;
    width: 60px;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    color: #555;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;    
}

.cs-wrapper {
    max-width: 900px;
    margin: auto;
}


.suggestion-box {
/*    position : absolute;
    top : 225px;
    left : 724px;*/
    width: 300px;
    border: 1px solid #999;
    background: #fff;
    overflow: auto;
}

.result-box {
    z-index: -1;
    position : absolute;
    top : 225px;
    left : 500px;
    padding-top: 30px;
}

.suggestions {
    width: 500px;
    max-height: 300px; 
    display: block;

}

.suggestion { 
    padding: 10px 5px; 
    font-size: 1.2em; 
    white-space: nowrap; 
    overflow: hidden; 
}

