
h1, h2 {
  margin: 0;
  padding: 0;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  line-height: 1em;
}
h1 span, h2 span {
  padding-top: 1.25em;
  display: block;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3em;
  letter-spacing: 0;
  text-transform: none;
  color: rgba(0, 0, 0, 0.6);
}

h2 {
  font-size: 30px;
}

p {
/*   color: rgba(0, 0, 0, 0.6); */
	font-color:grey;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 300;
}

/* MAIN */
.section-wrap {
  padding: 80px 40px;
/*  max-width: 600px;*/
  margin: 0 auto;
}

.small-title {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}
.small-title a {
  text-decoration: none;
}
.small-title span {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  width: 45px;
  border-bottom: 2px solid #e74c3c;
}

.medium-title {
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #95a5a6;
  margin-top : -20px;
}
.medium-title span {
  display: block;
  margin: 0;
  padding-top: 10px;
  width: 45px;
  border-bottom: 2px solid #e74c3c;
}

/** INTRO */
.intro {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 80px;
  padding-top: 40px;
  height:670px;
}

.logo {
  height: 64px;
  width: 64px;
  background-color: #16a085;
  border-radius: 50%;
  padding: 15px;
  margin: 0 auto 45px;
}
.logo img {
	width:54px;
	height:57px;
}

.see-community {
  padding-top: 60px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.see-community a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}
.see-community a:hover {
  color: #e74c3c;
}

/** MEDICAL COMMUNITY */
.communityABC {
/*  background-color: rgba(22,160,133,0.9);*/
  background: url(http://s28.postimg.org/3lnbuybx9/blurred_background_1.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  height:650px;
}
.communityABC .medic-icons {
/*  margin-bottom: 45px;*/
}
.communityABC .medic-icons img {
  height: 96px;
  width: 96px;
  margin: 0 10px;
}
.communityABC h2 {
/*  color: white;*/
  font-weight: 400;
}
.communityABC p {
	font-size:17px;
	font-color:black;
  margin: 1.5em 0 0;
}

.community-members {
  padding: 45px 0 0;
}
.community-members .see-more {
  text-align: center;
}

.users {
  text-align: left;
}


.lastSection {
  text-align: center;
}

.lastSection span{
  margin-left: 48%;
}

.lastSection .posts .post{
  width:560px;
  margin-left: 27%;
}

.lastSection .see-more {
  text-align: center;
}

/** ADV */
.adv {
  color: white;
/*   background-color: #9b59b6; */
/* background-color : rgba(231,76,60,0.9); */
background : url(http://s28.postimg.org/3lnbuybx9/blurred_background_1.jpg) no-repeat center center fixed;
background-size : cover;
/*  background-image: url(http://s30.postimg.org/lcnk4gh9d/Screen_Shot_2015_05_26_at_2_31_22_AM.png);*/
  background-size: contain;
  background-blend-mode: overlay;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.4);
}

/** MODULES */
.user {
  display: flex;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}
.user__avatar {
  margin-right: 15px;
}
.user__name {
  font-size: 15px;
  letter-spacing: 0.1em;
  color: #000;
  font-weight: 700;
  margin-bottom: 10px;
}
.user__name a {
  color: #000;
  text-decoration: none;
}
.user__content {
  flex-grow: 2;
  font-size: 13px;
  line-height: 1.1em;
  font-weight: 400;
  color: #666666;
}
.user__cv {
  align-self: flex-end;
  font-size: 12px;
  line-height: 1em;
  padding: 0 6px;
}
.user__cv a {
  display: inline-block;
  color: #b1bdbd;
  text-decoration: none;
  text-align: center;
}
.user__cv a i {
  font-size: 18px;
  vertical-align: middle;
}
.user__cv a:hover {
  color: #666666;
}
.user__cv a:hover i {
  color: #e74c3c;
}

.post {
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}
.post .circle-icon {
  flex-basis: 1;
  margin-right: 15px;
}
.post .circle-icon.red {
  background-color: #e74c3c;
}
.post .circle-icon.violet {
  background-color: #9b59b6;
}
.post .circle-icon.blue {
  background-color: #2980b9;
}
.post__title {
  flex: 1;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1em;
  font-weight: 400;
  margin: 0;
}
.post__title a {
  color: #000;
  text-decoration: none;
}

.banner {
  text-align: center;
  padding: 100px 0;
  color: withe;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 14px;
  font-weight: 400;
}
.banner a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

/** COMMON */
.see-more {
  padding-top: 45px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.see-more a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}
.see-more a:hover {
  color: #e74c3c;
}

.avatar {
  height: 42px;
  width: 42px;
  background-color: #16a085;
  border-radius: 50%;
  padding: 6px;
}

.circle-icon {
  height: 36px;
  width: 36px;
  font-size: 20px;
  font-weight: 300;
  line-height: 34px;
  text-align: center;
  color: white;
  background-color: #16a085;
  border-radius: 50%;
  padding: 2px;
}

.text-red {
  color: #e74c3c;
}

a.btn, .btn {
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.1em;
  display: inline-block;
  padding: 5px 12px;
  border-radius: 30px;
  color: #95a5a6;
  transition: all 0.3s;
}
a.btn:hover, .btn:hover {
  color: white;
  background-color: #16a085;
}
a.btn.green, .btn.green {
  background-color: #16a085;
}
a.btn.green:hover, .btn.green:hover {
  background-color: #107360;
}












img {
  border:0;
  width:100%;
  height:100%;
}
#team {
  margin-top : 30px;
  max-width:96rem;
  width:100%;
  min-height:200px;
  height:auto;
  margin:0 auto;
  background-color:white;
  box-sizing:border-box;
  padding:0;
  display:-webkit-flex;
  display:flex;
  -webkit-align-items:center;
  align-items:center;
  -webkit-justify-content:center;
  justify-content:center;
  -webkit-flex-direction:row;
  flex-direction:row;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-align-content:flex-end;
  align-content:flex-end;
}
figure {
  width:12.5rem;
  height:12.5rem;
  display:block;
  margin:0.5rem 1rem 4rem 0.5rem;
  padding:0;
  box-sizing:content-box;
  color:black;
}
figure img {
  -webkit-border-radius:50%;
  -moz-border-radius:50%;  
  border-radius:50%; 
}
#team figure img {
  -webkit-transition:opacity 0.26s ease-out;   
  -moz-transition:opacity 0.26s ease-out;   
  -ms-transition:opacity 0.26s ease-out;   
  -o-transition:opacity 0.26s ease-out;   
  transition:opacity 0.26s ease-out;    
}
/*#team:hover img, #team:active img {
  opacity:0.3;
}*/
/*#team:hover img:hover, #team:active img:active {
  opacity:1;
}*/
figcaption {
  font-size:1.2rem;
  margin-top:20px;
  text-align:center;
}