@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Bangers);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

dl:after, fieldset:after, pre:after {
    content: '';
    display: table;
    clear: both;
}

fieldset, pre {
    -webkit-border-radius: 0.8em;
    border-radius: 0.8em;
    background-clip: padding-box;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

article, header, figure, img {
    display: block;
}

html {
    font-size: 100%;
    line-height: 100%;
}

pre {
    margin: 1em 0;
}

.responsive-fonts {
    font-size: 100%;
}

.responsive-fonts span {
    font: 400 4.9em 'Raleway', sans-serif;
}

html {

}

article {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1200px;
}

figure {
    position: relative;
    margin: 3rem 0 0;
}

figcaption {
    position: absolute;
    top: 32%;
    font: 3em 'Bangers', cursive;
}

img {
    width: 100%;
}

pre {
    white-space: pre-wrap;
}

h1 {
    text-transform: uppercase;
}

h2 {
    font: 500 1.618rem/2.291 'Raleway', sans-serif;
    margin-bottom: 0.673rem;
}

h3 {
    font: 400 1.416rem/1.618 'Raleway', sans-serif;
    margin-bottom: 0.202rem;
}

p, dt, dd, li {
    font: 300 1rem 'Lato', sans-serif;
    line-height: 1.416rem;
    margin-bottom: 0.416rem;
}

dl {
    margin: 1.618em;
}

dt, dd {
    float: left;
}

dt {
    clear: left;
    width: 100px;
    font-weight: 400;
}

ul {
    list-style: none;
    display:inline-block;
    width : 100%;
    text-align : center;
}

li {
    padding-left: 1rem;
}

.em span {
    font-size: 2em;
}

.rem span {
    font-size: 2rem;
}

.pct span {
    font-size: 200%;
}

.px span {
    font-size: 32px;
}

.done {
    text-decoration: line-through;
}

@media (min-width: 854px) {
    html {
        font-size: 110%;
    }
}

@media (min-width: 864px) {
    html {
        font-size: 111%;
    }
}

@media (min-width: 874px) {
    html {
        font-size: 112%;
    }
}

@media (min-width: 883px) {
    html {
        font-size: 113%;
    }
}

@media (min-width: 893px) {
    html {
        font-size: 114%;
    }
}

@media (min-width: 902px) {
    html {
        font-size: 115%;
    }
}

@media (min-width: 912px) {
    html {
        font-size: 116%;
    }
}

@media (min-width: 922px) {
    html {
        font-size: 117%;
    }
}

@media (min-width: 931px) {
    html {
        font-size: 118%;
    }
}

@media (min-width: 941px) {
    html {
        font-size: 111%;
    }
}

@media (min-width: 950px) {
    html {
        font-size: 112%;
    }
}

@media (min-width: 960px) {
    html {
        font-size: 113%;
    }
}

@media (min-width: 970px) {
    html {
        font-size: 114%;
    }
}

@media (min-width: 979px) {
    html {
        font-size: 115%;
    }
}

@media (min-width: 989px) {
    html {
        font-size: 116%;
    }
}

@media (min-width: 998px) {
    html {
        font-size: 117%;
    }
}

@media (min-width: 1008px) {
    html {
        font-size: 118%;
    }
}

@media (min-width: 1018px) {
    html {
        font-size: 106.0%;
    }
}

@media (min-width: 1027px) {
    html {
        font-size: 107%;
    }
}

@media (min-width: 1037px) {
    html {
        font-size: 108%;
    }
}

@media (min-width: 1046px) {
    html {
        font-size: 109.0%;
    }
}

@media (min-width: 1056px) {
    html {
        font-size: 110.0%;
    }
}

@media (min-width: 1066px) {
    html {
        font-size: 111%;
    }
}

@media (min-width: 1075px) {
    html {
        font-size: 112.0%;
    }
}

@media (min-width: 1085px) {
    html {
        font-size: 113%;
    }
}

@media (min-width: 1094px) {
    html {
        font-size: 114%;
    }
}

@media (min-width: 1104px) {
    html {
        font-size: 115.0%;
    }
}

@media (min-width: 1114px) {
    html {
        font-size: 116%;
    }
}

@media (min-width: 1123px) {
    html {
        font-size: 117%;
    }
}

@media (min-width: 1133px) {
    html {
        font-size: 118.0%;
    }
}

@media (min-width: 1142px) {
    html {
        font-size: 119%;
    }
}

@media (min-width: 1152px) {
    html {
        font-size: 120%;
    }
}

@media (min-width: 1162px) {
    html {
        font-size: 121.0%;
    }
}

@media (min-width: 1171px) {
    html {
        font-size: 122.0%;
    }
}

@media (min-width: 1181px) {
    html {
        font-size: 123.0%;
    }
}

@media (min-width: 1190px) {
    html {
        font-size: 124%;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 125%;
    }
}

fieldset, pre {
    border : 1;
    border-color: darkgrey;
    padding: 3% 5%;
    background: #f8f8f8;
}

label, a, button {
    font: 400 1em 'Lato', sans-serif;
    line-height: 1.416rem;
    margin-bottom: 0.416rem;
}

label {
    text-indent: 5%;
    width: 100%;
    float: left;
    clear: left;
    margin: 0.2rem;
}

input, textarea {
    font-size: 100%;
    padding: 1%;
    width: 75%;
    float: left;
    margin-right: -100%;
    margin-left: 20%;
}

textarea {
    font-size: 0.5em;
}

a {
    color: #333;
}

a:hover {
    background: #333;
    color: #ffce00;
}

textarea {
    resize: none;
}

button {
    width: 40%;
    height: 100px;
    background: #231f20;
    color: #fff;
    padding: 0.8em;
    float: left;
    border: 1px solid #e3a600;
    margin: 1% 0 0;
    margin-left: 60%;
    border-radius: 15px 15px 15px 15px;
}

@media (max-width: 640px) {
    label {
        font-size: 1.5em;
        text-indent: 0;
    }

    input, button, textarea {
        width: 46%;
        height:40px;
        margin-left:54%;
    }
}

::-webkit-selection {
    background: #fff0b2;
}

::-moz-selection {
    background: #fff0b2;
}

::selection {
    background: #fff0b2;
}

li {
    list-style: none;
    text-decoration: none;
}

.icons > li {
	text-align : center;
	display : inline-block;
}

.icons {
    margin-left: 2%;
}

.icon {
    margin-top: 15px;
    margin-left: 2.4%;
    margin-right: 2.5%;
}

.fa-github {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px grey;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 35px;
    font-weight: normal;
    line-height: 1.5em;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    opacity: 0.8;
    background-color: #FFDB4D;
}

.fa-facebook {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px grey;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 35px;
    font-weight: normal;
    line-height: 1.5em;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    opacity: 0.8;
    background-color: #4060A5;
}

.fa-twitter {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 1px 1px grey;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 35px;
    font-weight: normal;
    line-height: 1.5em;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    opacity: 0.8;
    background-color: #00ABE3;
}

.fa-dribbble {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 1px 1px grey;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 35px;
    font-weight: normal;
    line-height: 1.5em;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    opacity: 0.8;
    background-color: #ea4c89;
}

.temp {
    width: 100%;
    height: 80px;
    background-color: #231f20;
    margin-top: 40px;
    border-radius: 15px 15px 15px 15px;
}











img {
  border:0;
  width:100%;
  height:100%;
}
#team {
  margin-top : 30px;
  max-width:96rem;
  width:100%;
  min-height:200px;
  height:auto;
  margin:0 auto;
  box-sizing:border-box;
  padding:0;
  display:-webkit-flex;
  display:flex;
  -webkit-align-items:center;
  align-items:center;
  -webkit-justify-content:center;
  justify-content:center;
  -webkit-flex-direction:row;
  flex-direction:row;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-align-content:flex-end;
  align-content:flex-end;
}
figure {
  width:12.5rem;
  height:12.5rem;
  display:block;
  margin:0.5rem 1rem 4rem 0.5rem;
  padding:0;
  box-sizing:content-box;
  color:black;
}
figure img {
  -webkit-border-radius:50%;
  -moz-border-radius:50%;  
  border-radius:50%; 
}
#team figure img {
  -webkit-transition:opacity 0.26s ease-out;   
  -moz-transition:opacity 0.26s ease-out;   
  -ms-transition:opacity 0.26s ease-out;   
  -o-transition:opacity 0.26s ease-out;   
  transition:opacity 0.26s ease-out;    
}