@import url(http://fonts.googleapis.com/css?family=Glegoo|Oswald:400,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: #292929;
    -webkit-perspective: 800px;
    perspective: 800px;
}

header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1em;
}
header h1 {
    color: #ecf0f1;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    font-family: Oswald;
    text-align: center;
    margin: 0;
    font-size: 4rem;
}
header h1 span {
    opacity: .3;
}
header button {
    width: 3.5em;
    height: 3.5em;
    border-radius: 3.5em;
    border: 0;
    background: #fff;
    margin: 1em;
    box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.1);
}
header button:hover {
    background: #fffc72;
}
header button:focus {
    outline: 0;
}

.fa-bars, .fa-times {
    font-size: 2rem;
    color: #292929;
}

nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 11em;
    padding: 2rem;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: background .3s;
    transition: background .3s;
}
nav ul li {
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    -webkit-transform: translateY(-30em);
    -ms-transform: translateY(-30em);
    transform: translateY(-30em);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 0;
    text-align: center;
}
@media (max-width: 560px) {
    nav ul li {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}
nav ul li a {
    font-family: Oswald;
    font-size: 4rem;
    text-decoration: none;
    color: #fff;
    letter-spacing: .1em;
}
@media (max-width: 1260px) {
    nav ul li a {
        font-size: 2rem;
    }
}
nav ul li a:hover {
    color: #fffc72;
    position: relative;
}
nav ul li a:hover:after {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    content: '';
    display: block;
    border: 1px dashed #fff;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    width: 100%;
}
nav ul li a:focus {
    outline: 0;
    border: 1px dotted #fff;
    color: #fffc72;
    padding: .25em;
}

main {
    /*background: #ecf0f1;*/
    /*min-height: 100%;*/
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    padding: 2em;
}
main article {
    max-width: 60em;
    /* 하얀색 명함 부분 크기 조절 = padding */
    padding: 3em;
    background: #fff;
    box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto 2em auto;
}
@media (max-width: 700px) {
    main article {
        width: 100%;
    }
}
@media (max-width: 320px) {
    main article {
        width: 100%;
       	height:200px;
    }
    main article .ng-binding{
       font-size : 17px;
    }
    header h1{
    	font-size:50px;
    }
}
@media (max-height: 700px) {
    main article {
    	height:270px;
    }
}

main article:last-child {
    margin-bottom: 0;
}
main article h1 {
    margin: 0;
    font-family: Oswald;
    font-size: 2.5rem;
}
main article p {
	text-align : center;
    font-family: Glegoo;
    font-size: 1.5rem;
}

.active {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: 1s;
    transition: 1s;
}

.nav-visible {
    padding: 1em 0;
    background: #292929;
    -webkit-transition: background 1s;
    transition: background 1s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}
.nav-visible li {
    -webkit-transform: translateY(0em);
    -ms-transform: translateY(0em);
    transform: translateY(0em);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 1;
}
.nav-visible li:nth-child(1) {
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}
.nav-visible li:nth-child(2) {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}
.nav-visible li:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}


.temp {
/*     width: 100%; */
	
    height: 135px;
    background-color: #292929;
    /*background-color: white;*/
    margin-top: -10px;
    border-radius: 15px 15px 15px 15px;
}

@font-face {
    font-family: 'icomoon';
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2");
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2") format("truetype"), url("fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}
ul{
	text-align : center;
}
.social-networks {
    padding: 0;
    font-size: 0;
}
.social-networks li {
    display: inline-block;
    text-align : center;
}
.social-networks a {
    display: block;
    position: relative;
    margin: 0 0px;
    width: 68px;
    height: 68px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    text-decoration: none;
}
.social-networks a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    margin-top: -40%;
    margin-left: -40%;
    border-radius: 100px;
    background-color: #1f2027;
    transition: all 400ms;
}
.social-networks a:after {
    position: relative;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    font-size: 26px;
    line-height: 66px;
}
.social-networks .icon-linkedin:after {
    content: "";
}
.social-networks .icon-linkedin:hover:before, .social-networks .icon-linkedin:focus:before {
    background: #0077b5;
}
.social-networks .icon-facebook:after {
    content: "";
}
.social-networks .icon-facebook:hover:before, .social-networks .icon-facebook:focus:before {
    background: #3b5998;
}
.social-networks .icon-twitter:after {
    content: "";
}
.social-networks .icon-twitter:hover:before, .social-networks .icon-twitter:focus:before {
    background: #00b0ed;
}
.social-networks .icon-github:after {
    content: "";
}
.social-networks .icon-github:hover:before, .social-networks .icon-github:focus:before {
    background: #4183c4;
}
.social-networks .icon-instagram:after {
    content: "";
}
.social-networks .icon-instagram:hover:before, .social-networks .icon-instagram:focus:before {
    background: #3f729b;
}
.social-networks .icon-vimeo:after {
    content: "";
}
.social-networks .icon-vimeo:hover:before, .social-networks .icon-vimeo:focus:before {
    background: #1ab7ea;
}
.social-networks .icon-twitch:after {
    content: "";
}
.social-networks .icon-twitch:hover:before, .social-networks .icon-twitch:focus:before {
    background: #6441a5;
}
.social-networks .icon-pinterest:after {
    content: "";
}
.social-networks .icon-pinterest:hover:before, .social-networks .icon-pinterest:focus:before {
    background: #cc2127;
}
a {
    color: #4183c4;
    text-decoration: none;
}
a:hover {
    color: #7ba9d6;
}