label[for="snsT"] {
  display: block;
  margin: 0.5rem 1rem;
  color: black;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-left: 40px;
  margin-right: 26px;
  margin-top:22px;
}

input[type="text"] {
  margin: 0 1rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid transparent;
  background: #ddd;
  color: #aaa;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  height:26px;
  font-size: 1.4rem;
  margin-top: 19px;
}
input[type="text"]:hover {
  background: #eee;
}
input[type="text"]:focus {
  outline: 0;
  border-color: #bbb;
  background: white;
  color: #888;
}
