<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>Perspective Page View Navigation</title>

	<link
		href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
		rel="stylesheet">
	<link rel='stylesheet prefetch'
		href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
	<link rel='stylesheet prefetch'
		href='http://fonts.googleapis.com/css?family=Open+Sans'>

	<meta name="description" content="Perspective Page View Navigation: Transforms the page in 3D to reveal a menu" />
	<meta name="keywords" content="3d page, menu, navigation, mobile, perspective, css transform, web development, web design" />
	<meta name="author" content="Codrops" />
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="css/demo.css" />
	<link rel="stylesheet" type="text/css" href="css/component.css" />
	<!-- csstransforms3d-shiv-cssclasses-prefixed-teststyles-testprop-testallprops-prefixes-domprefixes-load --> 
	<script src="js/modernizr.custom.25376.js"></script>
</head>
<body ng-app="uss">
	<div id="perspective" class="perspective effect-laydown">
		<div class="container" style="height:100%;">
			<div class="wrapper" style="height:100%;"><!-- wrapper needed for scroll -->
				<!-- Top Navigation -->
				<div class="main clearfix" style="height:15%;">
					<div class="column">
						<p><button id="showMenu">Show Menu</button></p>
					</div>
				</div><!-- /main -->

				<div class="bottom" style="height:85%; border:1px solid black;">
					<div class="bookmarklet"></div>
					<div class="cs-wrapper">
						<div class="profile">
							<header class="title">
								<div class="sectionS">
									<header>
										<p>Google CTO</p>

										<p>
											01049302778 <br> abcde@gmail.com
										</p>

										<h2>WOOLIM RYU</h2>

										<div class="bottom">
											~2014.08 Google<br> 2013.01 Naver
										</div>
									</header>
								</div>
							</header>
							<footer>
								<p>
									<a href="#0">CONTACT ME</a>
								</p>

								<div id="contactP" class="temp">
									<ul class="icons">
										<li class="icon"><a href="/https://github.com"> <i
												class="fa fa-github fa-lg"></i>
										</a></li>
										<li class="icon"><a href="https://facebook.com"> <i
												class="fa fa-facebook fa-lg"></i>
										</a></li>
										<li class="icon"><a href="https://twitter.com"> <i
												class="fa fa-twitter fa-lg"></i>
										</a></li>
										<li class="icon"><a href="https://dribbble.com"> <i
												class="fa fa-dribbble fa-lg"></i>
										</a></li>
										<li class="icon"><a href="https://dribbble.com"> <i
												class="fa fa-dribbble fa-lg"></i>
										</a></li>
										<li class="icon"><a href="/https://github.com"> <i
												class="fa fa-github fa-lg"></i>
										</a></li>
										<li class="icon"><a href="https://twitter.com"> <i
												class="fa fa-twitter fa-lg"></i>
										</a></li>
										<li class="icon"><a href="https://facebook.com"> <i
												class="fa fa-facebook fa-lg"></i>
										</a></li>
									</ul>
								</div>
							</footer>
						</div>

						<div ng-controller="searchController" class="test">
					      <form class="search">
					        <input type="text" id="search" class="input-search" ng-change="autocomplete()">
					        <input type="submit" ng-submit="submit()" ng-model="query">
					      </form>
					      
					      <div class="suggestion-box">
					        <div ng-repeat="suggestion in suggestions" class="suggestions">
					          <div class="suggestion">{{suggestion.left.name}}</div>
					        </div>
					      </div>

					      <div ng-repeat="result in results">
					        <ol class="rectangle-list">
					         <li><a href=""><div class="userName">{{result.left.name}}</div>
					          <div class="userInfo">
					            <div class="userJob">{{result.right.company}}</div>
					            <div class="userPhone">{{result.right.phoneNumber}}</div>
					          </div>
					          </a>
					         </li>
					        </ol>
					      </div>
					    </div>
					</div>
				</div>
			</div><!-- wrapper -->
		</div><!-- /container -->
		<nav class="outer-nav top horizontal">
			<a href="#" class="icon-home">My Profile</a>
			<a href="#" class="icon-news">Card List</a>
			<a href="#" class="icon-image">Search People</a>
			<a href="#" class="icon-mail">Contact Us</a>
			<a href="#" class="icon-lock">Log Out</a>
		</nav>
	</div><!-- /perspective -->

	<script
		src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="/library/angular/angular.min.js"></script>
	<script src="/library/angular/angular-route.min.js"></script>
	<script src="js/search.js"></script>
	<script src="js/classie.js"></script>
	<script src="js/menu.js"></script>
	<script src="js/modal.js"></script>
	<script src="js/edit.js"></script>
	<script src="js/templateList.js"></script>
</body>
</html>
