<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>USS-woolim</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="css/style.css" media="screen" type="text/css">
  <link rel="stylesheet" href="css/nav.css" media="screen"
  type="text/css">
</head>

<body ng-app="uss">
	<nav class="main-menu">
    <div class="user">
      <img src="">
    </div>

    <div class="service">
      <ul>
        <li>
          <a href="#">
            <i class="fa fa-home fa-lg"></i>
            <span class="nav-text">Home</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-user fa-lg"></i>
            <span class="nav-text">Log Out</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-envelope-o fa-lg"></i>
            <span class="nav-text">Contact Us</span>
          </a>
        </li>
        <li class="darkerlishadow">
          <a href="#">
            <i class="fa fa-book fa-lg"></i>
            <span class="nav-text">My profile</span>
          </a>
        </li>
        <li class="darkerli">
          <a href="#">
            <i class="fa fa-users fa-lg"></i>
            <span class="nav-text">Friends Card</span>
          </a>
        </li>
        <li class="darkerli">
          <a href="#">
            <i class="fa fa-search fa-lg"></i>
            <span class="nav-text">Search</span>
          </a>
        </li>     
      </ul>
    </div>
  </nav>

  <section class="wrapper">
    <div class="card-wrapper">
      <div ng-show=""></div>
    </div>
    <div ng-controller="searchController" class="search-wrapper">
      <form class="search">
        <input type="text" id="search" class="input-search" ng-change=autocomplete()>
        <input type="submit" ng-submit=submit() ng-model="query">
      </form>
      
      <div class="suggestion-box">
        <div ng-repeat="suggestion in suggestions" class="suggestions">
          <div class="suggestion">{{suggestion.left.name}}</div>
        </div>
      </div>

      <div ng-repeat="result in results">
        <ol class="rectangle-list">
         <li><a href=""><div class="userName">{{result.left.name}}</div>
          <div class="userInfo">
            <div class="userJob">{{result.right.company}}</div>
            <div class="userPhone">{{result.right.phoneNumber}}</div>
          </div>
          </a>
         </li>
        </ol>
      </div>
    </div>
  </section>

<script src="/library/angular/angular.min.js"></script>
<script src="/library/angular/angular-route.min.js"></script>
<script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
<script src="js/search.js"></script>

</body>

</html>