@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

h1 {
  color: #0c2a62;
  text-align: center;
  margin-top: 24px;
  margin-bottom: -10px;
}
.container {
  padding: 0;
  width: 335px;
  margin: 61px auto;
}
.container .input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
.container .input__field {
  position: absolute;
  top: 0;
  display: block;
  padding: 12px 15px;
  width: 100%;
  border: none;
  border-radius: 0;
  background: transparent;
  color: #5d5e60;
  font-weight: bold;
  font-size: 16px;
}
.container .input__field:focus {
  outline: none;
}
.container .input__field:focus + .input__label .input__label-content {
  transform: translate3d(0, -34px, 0);
}
.container .input__field:focus ~ .input__focuslabel {
  height: 20px;
}
.container .input__field:focus ~ .input__focuslabel .input__focuslabel-content {
  transform: translate3d(0, -15px, 0);
}
.container .input__label {
  position: absolute;
  z-index: -1;
  top: 0;
  display: inline-block;
  padding: 0 7px;
  width: 100%;
  color: #0c2a62;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  overflow: hidden;
}
.container .input__label-content {
  position: relative;
  display: block;
  padding: 16px 0;
  width: 100%;
  transition: transform 0.5s;
}
.container .input__label::after {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 2px;
  background: #0c2a62;
  transition: transform 0.5s;
}
.container .input__label:after {
  bottom: 0;
}
.container .input__focuslabel {
  position: absolute;
  display: inline-block;
  padding: 0px 7px;
  width: 100%;
  color: #efefef;
  background: #0c2a62;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  overflow: hidden;
  vertical-align: bottom;
  bottom: 0;
  height: 2px;
  transition: height 0.5s;
}
.container .input__focuslabel-content {
  position: relative;
  display: block;
  top: 16px;
  width: 100%;
  transition: transform 0.5s;
}
.container .input--filled .input__label-content {
  transform: translate3d(0, -34px, 0);
}
.container .input--filled .input__focuslabel {
  height: 20px;
}
.container .input--filled .input__focuslabel .input__focuslabel-content {
  transform: translate3d(0, -15px, 0);
}
