*,
:after,
:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body,
html {
    position: relative;
    height: 100%;
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent
}
body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #555
}

a {
    -webkit-transition: all .5s linear;
    transition: all .5s linear
}
a {
    color: #000;
    text-decoration: none
}
a:focus,
a:hover {
    color: #555;
    text-decoration: underline
}
a:focus {
    outline: 5px;
    outline-offset: -2px
}
hr {
    margin-top: 21px;
    margin-bottom: 21px;
    border: 0;
    border-top: 1px solid #eee
}
nav ul {
    margin: 0;
    padding: 0
}

section {
    margin-left: 250px;
    position: relative;
    z-index: 55;
    height: 100%;
}


form {

    margin: 0;
}

form input[type="text"],
form input[type="email"],
form textarea {
    display: inline;
    padding: 0.5em;
    border: 1px solid #E8E8E8;
}

form input[type="submit"] {
    display: inline;
    padding: 0.5em 0.2em;
    background: #FFF;
    border: 1px solid #1C1C1C;
    color: #1B1B1B;
    min-width: 5em;
    text-transform: uppercase;
}
form input[type="submit"]:hover {
    border-color: #F00;
    color: #F00;
    transition: border 0.5s ease, color 1s ease;
}

ol {
counter-reset: li;
list-style: none;
font: 15px 'trebuchet MS', 'lucida sans';
margin-bottom: 4em;
text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}

li {
display: list-item;
text-align: -webkit-match-parent;
}

.rectangle-list a {
min-height: 52px;
width: 400px;
position: relative;
display: block;
padding: .4em .4em .4em .8em;
margin: .5em 0 .5em 2.5em;
background: #ddd;
color: #444;
text-decoration: none;
-webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-ms-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
transition: all .3s ease-out;
}

.rectangle-list a:before {
content: counter(li);
counter-increment: li;
position: absolute;
left: -2.5em;
top: 50%;
margin-top: -1em;
background: #fa8072;
height: 2em;
width: 2em;
line-height: 2em;
text-align: center;
font-weight: bold;
}

.rectangle-list a:after {
position: absolute;
content: '';
border: .5em solid transparent;
left: -1em;
top: 50%;
margin-top: -.5em;
-webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-ms-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
transition: all .3s ease-out;
}

.rectangle-list a:hover {
background: #eee;
}

.rectangle-list a:hover:after {
left: -.5em;
border-left-color: #fa8072;
}

.icon {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-top: 50px;
}

.userName {
    margin-top: 10px;
    width: 80px;
    height: 20px;
    text-align: center;
    float: left;
    font-size:20px;
}

.userJob {
    margin-bottom: 2px;
}
.userPhone {
    margin-bottom: 2px;
}
.userInfo {
    margin-left: 120px;
    margin-top: 2px;
    text-align: right;
    margin-right: 10px;
}

.searchBody{
}


.profile {
    position: absolute;
    width: 400px;
    margin-left: 57px;
    height: 536px;
}

.suggestion-box {
    position : absolute;
    top : 225px;
    left : 500px;
    border: 1px solid #999;
    background: #fff;
    overflow: auto;
}

.result-box {
    z-index: -1;
    position : absolute;
    top : 225px;
    left : 500px;
    padding-top: 30px;
}

.suggestions {
    max-height: 300px; 
    display: block;

}

.suggestion { 
    padding: 10px 5px; 
    font-size: 1.2em; 
    white-space: nowrap; 
    overflow: hidden; 
}

/*.wrapper {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
}*/
.wrapper {
    width: 100%;
    height: 100%;
    padding-left: 7%;
    position: relative;
    z-index: 55;
    background: #f8f8f8;
    clear: both;
}

.wrap {

}


.card-wrapper {
    min-width: 400px;
    height: 100%;
    background: black;
    float: left;
}

.search-wrapper {
    min-width: 400px;
    height: 100%;
    background-color: blue;
    float: left;
    margin-left: 3%;
}
@media (max-width: 650px) {
	.card-wrapper {
    display:none;
	}
	.wrapper {

    padding-left: 0%;
	}
	section {
	margin-left:0;
	}
	.search-wrapper{
	margin-left:0;
	}
	
}

@media (min-width: 651px)  and (max-width: 750px) {
	.card-wrapper {
    display:none;
	}
	.search-wrapper {
    margin-left: 1%;
	}
	.wrapper {
    padding-left: 0px;
	}
}

@media (min-width: 751px)  and (max-width: 1071px) {
	.card-wrapper {
    display:none;
	}
	.search-wrapper {
    margin-left: 6%;
	}
	.wrapper {
    padding-left: 5%;
	}	
}

@media (min-width: 1072px)  and (max-width: 1200px) {
	.wrapper {
    padding-left: 1%;
	}
	
	.search-wrapper {
    margin-left: 1%;
	}
}


@media (min-width: 1201px) {
}




