#profileBody{
  height: 100%;
  width:100%;
/*  width: 85%;*/
/*  background-color: black;*/
/*  border: 1px slid black;*/
  /*background: url('http://www.creativityflows.com/images/background.jpg') no-repeat center center fixed; */
}

#profileBody,
h2 {
  background: url('http://www.creativityflows.com/images/background.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*background-size: cover;*/
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
}

h1 {
  color: #FFF;
  font-weight: 100;
  font-family: "helvetica neue", helvetica;
  font-size: 40px;
  font-size: 3.5vw;
  letter-spacing: 5px;
  padding: 0 30px;
}

h2 {
  font-family:sarif;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 0 20px;
  font-size: 3vw;
}

@media all and (max-width: 480px){
  h1 {
    padding: 0 0 25px 0;
    font-size: 12vw;
  }
  h2 {
    font-size: 7vw;
  }
}


#profileWrapper {

  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 1);

  top : 0px;
}

.whitebox {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
}

.white {
  background-color: #fff;
  display: inline-block;
}
