<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>USS-woolim</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
            rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" media="screen"
          type="text/css"/>
    <link rel="stylesheet" href="css/searchsvg.css" media="screen"
          type="text/css"/>
    <link rel="stylesheet" href="css/t2style.css" media="screen"
          type="text/css"/>
    <link rel="stylesheet" href="css/modal.css" media="screen"
          type="text/css"/>
    <link rel="stylesheet" href="css/edit.css" media="screen"
          type="text/css"/>
    <link rel='stylesheet prefetch'
          href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link href='http://fonts.googleapis.com/css?family=Rye' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald'
          rel='stylesheet' type='text/css'>
    <link rel='stylesheet prefetch'
          href='http://fonts.googleapis.com/css?family=Lora'>

</head>

<body ng-app="uss" ng-controller="listController">

<header class="header">
    <div class="logo" style="height: 170px; width: 220px;"></div>

    <a href="#" class="toggle_menu"> <i class="fa fa-navicon"></i>
    </a>

    <nav class="menu">
        <ul>
            <li onclick="location.href='/myprofile/first'"><a href="#" data-link="home">My Profile</a></li>
            <li onclick="location.href='/cardlist/list'"><a href="#" data-link="list">Card List</a></li>
            <li onclick="location.href='/searchpeople'"><a href="#" data-link="search">Search People</a></li>
            <li onclick="location.href='/contactus'"><a href="#" data-link="contact">Contact Us</a></li>
            <li onclick="location.href='/main'" style="margin-top:200px;"><a href="#" data-link="logout">Log Out</a>
            </li>
        </ul>
    </nav>
</header>

<section class="wrapper clearfix" data-section="list">

    <div class="bookmarklet">
        <!--
        <div class="titleThis" style="position:absolute; ">CARD LIST</div> -->
    </div>

    <div class="profile">
        <header class="title">
            <div class="sectionS">
                <header>
                    <p>Google CTO</p>

                    <p>
                        01049302778 <br> abcde@gmail.com
                    </p>

                    <h2>WOOLIM RYU</h2>

                    <div class="bottom">
                        ~2014.08 Google<br> 2013.01 Naver
                    </div>
                </header>
            </div>
        </header>
        <footer>
            <p>
                <a href="#0">CONTACT ME</a>
            </p>

            <div id="contactP" class="temp">
                <ul class="icons">
                    <li class="icon"><a href="/https://github.com"> <i
                            class="fa fa-github fa-lg"></i>
                    </a></li>
                    <li class="icon"><a href="https://facebook.com"> <i
                            class="fa fa-facebook fa-lg"></i>
                    </a></li>
                    <li class="icon"><a href="https://twitter.com"> <i
                            class="fa fa-twitter fa-lg"></i>
                    </a></li>
                    <li class="icon"><a href="https://dribbble.com"> <i
                            class="fa fa-dribbble fa-lg"></i>
                    </a></li>
                    <li class="icon"><a href="https://dribbble.com"> <i
                            class="fa fa-dribbble fa-lg"></i>
                    </a></li>
                    <li class="icon"><a href="/https://github.com"> <i
                            class="fa fa-github fa-lg"></i>
                    </a></li>
                    <li class="icon"><a href="https://twitter.com"> <i
                            class="fa fa-twitter fa-lg"></i>
                    </a></li>
                    <li class="icon"><a href="https://facebook.com"> <i
                            class="fa fa-facebook fa-lg"></i>
                    </a></li>
                </ul>
            </div>
        </footer>
    </div>


    <div class="searchBody">
        <div class="search">
            <svg version="1.1" viewBox="0 0 142.358 24.582">
                <path id="search-path" fill="none"
                      d="M131.597,14.529c-1.487,1.487-3.542,2.407-5.811,2.407
             c-4.539,0-8.218-3.679-8.218-8.218s3.679-8.218,8.218-8.218c4.539,0,8.218,3.679,8.218,8.218
             C134.004,10.987,133.084,13.042,131.597,14.529c0,0,9.554,9.554,9.554,9.554H0"/>
            </svg>
            <label for="search" class="search-label"></label> <input ng-model="search"
                                                                     type="search" id="search" autocomplete="off"
                                                                     class="input-search"/>
        </div>
        <ol class="rectangle-list1">
            <li ng-repeat="friend in friends | filter:search">{{friend}}</li>
        </ol>

    </div>
    <div class="modal-frame">
        <div class="modal">
            <div class="modal-inset">
                <div class="button close">
                    <i class="fa fa-close"></i>
                </div>
                <div class="modal-body" style="height: 360px">
                    <div class="modal-left" style="width: 200px; height: 360px;">
                        <div class="createBtn">
                            <i class="fa fa-folder"></i> <span class="button-text">new
									group</span> <input id="project-name" class="hidden" type="text"
                                                        placeholder="그룹명">
                        </div>
                        <div class="temping" style="margin-top:40px;">
                            <ol style="list-style-type: none; margin-left:-20px;">
                                <li class="modalLi" ng-click="modalSelect(g); rightView(0)" ng-repeat="g in group">
                                    {{g}}
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="modal-right"
                         style=" width: 375px; height: 360px;">
                        <div class="right-top">
                            <span class="right-top-plusBtn" ng-click="rightView(1)"> ┿ </span>
								<span
                                        class="right-top-minusBtn" ng-click="rightView(2)"> ━ </span>
                        </div>
                        <ol class="rectangle-list1">
                            <li ng-repeat="friend in friends | filter:modalSelected"><a href="">
                                <div class="userName2">{{friend.name}}</div>
                                <div class="userInfo2">
                                    <div class="userJob2">{{friend.job}}</div>
                                    <div class="userPhone2">{{friend.phoneNumber}}</div>
                                </div>
                            </a></li>
                        </ol>
                    </div>
                    <div class="right-bottom1" ng-show="viewNum2">
                        <ol class="rectangle-list2">
                            <li ng-repeat="friend in friends"><a
                                    href="">
                                <div class="userName2">{{friend.name}}</div>
                                <div class="userInfo2">
                                    <div class="userJob2">{{friend.job}}</div>
                                    <div class="userPhone2">{{friend.phoneNumber}}</div>
                                </div>
                            </a></li>
                        </ol>
                    </div>
                    <div class="right-bottom2" ng-show="viewNum3">
                        <ol class="rectangle-list3">
                            <li ng-repeat="friend in friends | filter:modalSelected"><a
                                    href="">
                                <div class="userName2">{{friend.name}}</div>
                                <div class="userInfo2">
                                    <div class="userJob2">{{friend.job}}</div>
                                    <div class="userPhone2">{{friend.phoneNumber}}</div>
                                </div>
                            </a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="modal-overlay"></div>

    <div class="btnPlace">

        <div class="bb">

            <div class="dropdown">
                <select ng-model="selected.group" name="one"
                        class="dropdown-select">
                    <option ng-repeat="g in group">{{g}}</option>
                </select>
            </div>
        </div>

        <div class="fancy-btn2 open">그룹 관리</div>
    </div>

    <div class="test">
        <ol class="rectangle-list">
            <li ng-repeat="card in cards | filter:selected"><a href="">
                <div class="userName">{{card.name}}</div>
                <div class="userInfo">
                    <div class="userJob">{{card.company}}</div>
                    <div class="userPhone">{{card.phoneNumber}}</div>
                </div>
            </a></li>
        </ol>
    </div>
</section>

<script src="/library/angular/angular.min.js"></script>
<script src="js/app.js"></script>
<script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
<script src="js/index.js"></script>
<script src="js/searchsvg.js"></script>
<script src="js/t3.js"></script>
<script src="js/modal.js"></script>
<script src="js/edit.js"></script>
<script
        src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script
        src='http://cdnjs.cloudflare.com/ajax/libs/react/0.10.0/react-with-addons.js'></script>
<script src='https://cdn.rawgit.com/icelab/arrival/0.0.1/arrival.js'></script>
</body>

</html>